<div class="admin">
  <div class="admin__container container">
    <div class="admin__title">Панель администрирования</div>
    <ul class="nav nav-tabs admin__tabs">
      <li class="admin__tab">
        <a
          class="admin__link"
          [routerLink]="['/admin/users']"
          routerLinkActive="active"
          >Управление пользователями</a
        >
      </li>
      <li class="admin__tab">
        <a
          class="admin__link"
          [routerLink]="['/admin/recipes']"
          routerLinkActive="active"
          >Управление рецептами</a
        >
      </li>
    </ul>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
