.taste-block {

}
.taste-block__header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.taste-block__title {
    
font-weight: 600;
font-size: 48px;
line-height: 100%;
max-width: 570px;

}
.taste-block__subtitle {
  padding: 30px 0 30px 0;
font-weight: 400;
font-size: 16px;
line-height: calc(28 / 16 * 100%);
color:#00000099;
max-width: 620px;
}
.taste-block__post {
    margin:80px 0 0 0;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit,
    minmax(290px,1fr));
    gap:40px;
}