.footer {
    border-top:1px solid #DDDDDD
}
.footer__container {
    min-height: 120px;
    display: flex;
        flex-direction: column;
        justify-content: center;
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 48px;
}
.footer__text {
    color: #9CA3AF;
font-weight: 400;
font-size: 16px;
line-height: calc(24 / 16 * 100%);


}
.footer__menu {
    display: flex;
    align-items: center;
    gap:26px;
    padding: 0 0 0 0;
    margin:  0 0 0 0;
}
.footer__menu-item {
    
}
.footer__link {
    cursor: pointer;
}