<ng-container>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Возраст</th>
        <th scope="col">Город</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Иван</td>
        <td>Петров</td>
        <td>25</td>
        <td>Москва</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Анна</td>
        <td>Сидорова</td>
        <td>30</td>
        <td>Санкт-Петербург</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Михаил</td>
        <td>Иванов</td>
        <td>28</td>
        <td>Казань</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Елена</td>
        <td>Козлова</td>
        <td>22</td>
        <td>Новосибирск</td>
      </tr>
    </tbody>
  </table>
</ng-container>
