<div class="registration">
  <div class="registration__container container">
    <h1 class="registration__title">Зарегистрируйте ваш аккаунт</h1>
    <form
      class="registration__form form-registration"
      [formGroup]="registrationForm"
      (ngSubmit)="submit()"
    >
      <div class="form-registration__group mb-4">
        <label for="username" class="form-registration__label form-label"
          >Логин</label
        >
        <input
          type="text"
          id="username"
          class="form-registration__input form-control"
          placeholder="Введите логин"
          formControlName="username"
          [ngClass]="{
            'is-invalid':
              registrationForm.get('username')?.invalid &&
              registrationForm.get('username')?.touched
          }"
        />
      </div>
      <div class="form-registration__group mb-4">
        <label for="password" class="form-registration__label form-label"
          >Пароль</label
        >
        <input
          type="password"
          id="password"
          class="form-registration__input form-control"
          placeholder="Введите пароль"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              registrationForm.get('password')?.invalid &&
              registrationForm.get('password')?.touched
          }"
        />
      </div>
      <div class="form-registration__group mb-4">
        <label for="name" class="form-registration__label form-label"
          >Имя</label
        >
        <input
          type="text"
          id="name"
          class="form-registration__input form-control"
          placeholder="Введите имя"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              registrationForm.get('name')?.invalid &&
              registrationForm.get('name')?.touched
          }"
        />
      </div>
      <div class="form-registration__group mb-4">
        <label for="lastname" class="form-registration__label form-label"
          >Фамилия</label
        >
        <input
          type="lastname"
          id="lastname"
          class="form-registration__input form-control"
          placeholder="Введите фамилию"
          formControlName="lastname"
          [ngClass]="{
            'is-invalid':
              registrationForm.get('lastname')?.invalid &&
              registrationForm.get('lastname')?.touched
          }"
        />
      </div>
      <div class="form-registration__group mb-4">
        <label for="middlename" class="form-registration__label form-label"
          >Отчество (при наличии)</label
        >
        <input
          type="middlename"
          id="middlename"
          class="form-registration__input form-control"
          placeholder="Введите отчество"
          formControlName="middlename"
          [ngClass]="{
            'is-invalid':
              registrationForm.get('middlename')?.invalid &&
              registrationForm.get('middlename')?.touched
          }"
        />
      </div>
      <button
        type="submit"
        class="registration-form__button button button_full-width mb-4"
        [disabled]="!registrationForm.valid"
      >
        Зарегистрироваться
      </button>
    </form>
  </div>
</div>
