<div class="about-page">
  <div class="about-page__container _container">
    <div class="about-page__header">
      <a routerLink="/" class="about-page__link">← Вернуться на главную</a>
      <h1 class="about-page__title">О нас</h1>
    </div>
    <div class="about-page__body">
      <div class="about-page__item about-item">
        <h3 class="about-item__title">История компании</h3>
        <p class="about-item__text">
          Наша компания была основана в 2010 году группой энтузиастов,
          стремящихся изменить индустрию к лучшему. За прошедшие годы мы выросли
          из небольшого стартапа в ведущую компанию на рынке, сохранив при этом
          наши основные ценности и приверженность качеству.
        </p>
      </div>
      <div class="about-page__item about-item">
        <h3 class="about-item__title">Наша миссия</h3>
        <p class="about-item__text">
          Мы стремимся предоставлять инновационные решения, которые помогают
          нашим клиентам достигать их целей. Наша миссия - сделать технологии
          доступными и полезными для всех, независимо от их технических навыков
          или бюджета.
        </p>
      </div>
      <div class="about-page__item about-item">
        <h3 class="about-item__title">Наши ценности</h3>
        <ul class="about-item__list">
          <li class="about-item__list-item">Качество во всем, что мы делаем</li>
          <li class="about-item__list-item">
            Инновации и постоянное совершенствование
          </li>
          <li class="about-item__list-item">
            Честность и прозрачность в отношениях с клиентами
          </li>
          <li class="about-item__list-item">
            Командная работа и взаимное уважение
          </li>
          <li class="about-item__list-item">
            Социальная ответственность и забота об окружающей среде
          </li>
        </ul>
      </div>
      <div class="about-page__item about-item">
        <h3 class="about-item__title">Наша команда</h3>
        <p class="about-item__text">
          В нашей компании работают более 100 профессионалов из различных
          областей. Мы гордимся разнообразием нашей команды и верим, что именно
          это разнообразие опыта и взглядов позволяет нам находить уникальные
          решения сложных задач.
        </p>
      </div>
    </div>
  </div>
</div>
