<div class="main">
  <div class="main__container container">
    <div class="main__carousel">
      <app-carousel [sliderPost]="sliderPost"></app-carousel>
    </div>
    <div class="main__best">
      <app-best-posts [bestPosts]="bestPosts"></app-best-posts>
    </div>
    <div class="main__taste-block">
      <app-taste-block [Posts]="testeItPosts"></app-taste-block>
    </div>
    <div class="main__about">
      <app-about></app-about>
    </div>
    <div class="main__mailing">
      <app-mailing></app-mailing>
    </div>
  </div>
  <app-notify *ngIf="isNotify"></app-notify>
</div>
