
.main{
    position:relative;
}
.main__container >:not(:first-child) {
    margin: 0 0 150px 0;
}
.main__carousel {
    margin: 100px 80px 150px 80px;   
}
.main__best{
    position: relative;
    padding:  0 0 113px 0;
    border-bottom: 1px solid #D1D5DB;
}

.main__taste-block{   
    padding:  0 0 150px 0;
    border-bottom: 1px solid #D1D5DB;
}

.custom-toast-container {
    background-color: #3A3395 !important;
    border-radius: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 60px !important;
    padding: 0 20px !important;
    margin: 0 !important;
    box-shadow: none !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 1 !important;
  }
  

  .custom-toast-container .toast-title,
  .custom-toast-container .toast-message {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
  

  .store-notification-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .notification-icon {
    margin-right: 10px;
  }
  
  .notification-text {
    font-size: 16px;
  }
  
 
  .custom-toast-container .toast-close-button {
    position: absolute !important;
    right: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: white !important;
    font-size: 20px !important;
    opacity: 1 !important;
  }
  
  
  .toast-info {
    background-image: none !important;
  }
  
  
  .toast-bottom-full-width {
    bottom: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  
 
  .custom-toast-container .toast-message {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
  }