<div class="main-page">
  <div class="main-page__container _container">
    <h1 class="main-page__title">Главная страница</h1>
    <div class="main-page__cards">
      <a routerLink="/contact" class="main-page__card card card_red">
        <h2 class="card__title">Contact</h2>
        <p class="card__text">Наши контакты</p>
      </a>
      <a routerLink="/about" class="main-page__card card card_orange">
        <h2 class="card__title">About</h2>
        <p class="card__text">Информация о нашей компании</p>
      </a>
      <a routerLink="item" class="main-page__card card card_yellow">
        <h2 class="card__title">Item</h2>
        <p class="card__text">Наши товары</p>
      </a>
    </div>
  </div>
</div>
