<div
  id="receiptCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="5000"
  *ngIf="sliderPost.length ?? false"
>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let item of sliderPost; index as i"
      [ngClass]="{ active: i === 0 }"
    >
      <div class="carousel-item__container">
        <div class="carousel-item__column">
          <h2 class="carousel-item__title">{{ item.title }}</h2>
          <span class="carousel-item__text">
            {{ item.body }}
          </span>
          <div class="carousel-item__about">
            <div class="carousel-item__row">
              <div class="carousel-item__badge badge">
                <div class="badge__icon">
                  <img
                    src="./assets/icons/Clock.svg"
                    alt="Время приготовления"
                  />
                </div>
                <div class="badge__text">
                  {{ item.timeCooking + " минут" }}
                </div>
              </div>
              <div
                *ngIf="item.tags?.length ?? false"
                class="carousel-item__badge badge"
              >
                <div class="badge__icon">
                  <img src="./assets/icons/ForkKnife.svg" alt="Категория" />
                </div>
                <div class="badge__text">{{ item.tags.join(", ") }}</div>
              </div>
            </div>
            <div class="carousel-item__row">
              <div
                class="carousel-item__user-info user-info"
                data-bs-toggle="dropdown"
              >
                <div class="user-info__img">
                  <img [src]="item.author.avatar" alt="avatar" />
                </div>
                <div class="user-info__about">
                  <div class="user-info__name">
                    {{ item.author.firstName + " " + item.author.lastName }}
                  </div>
                  <div class="user-info__date">
                    {{
                      item.createdOn | date : "d MMMM  y" : "GMT+3" : "ru-Ru"
                    }}
                  </div>
                </div>
              </div>
              <a
                [routerLink]="['recrecipes', item.id]"
                class="carousel-item__button button"
              >
                <span class="button__text"> Посмотреть</span>
                <div class="button__icon">
                  <img src="./assets/icons/PlayCircle.svg" alt="PlayCircle" />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="carousel-item__column">
          <div class="ibg carousel-item__ibg">
            <img [src]="item.image" alt="Изображение рецепта" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#receiptCarousel"
    data-bs-slide="prev"
  >
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#receiptCarousel"
    data-bs-slide="next"
  >
    <span class="visually-hidden">Next</span>
  </button>
</div>
