<div class="container d-flex gap-2 mt-5 flex-wrap">
  <button class="btn btn-primary" (click)="getPosts()">Get Posts</button>

  <button class="btn btn-info" (click)="getPostComments()">Get Comments</button>

  <button class="btn btn-success" (click)="createPost()">Create Post</button>

  <button class="btn btn-warning" (click)="getPost()">Get Single Post</button>

  <button class="btn btn-secondary" (click)="getPostsWithHeader()">
    Get Posts with Header
  </button>

  <button class="btn btn-danger" (click)="deletePost()">Delete Post</button>

  <button class="btn btn-dark" routerLink="/post">Go to Post Component</button>
</div>
<router-outlet></router-outlet>
