<div class="container">
  <h1 class="title">Todo List</h1>
  <div class="body">
    <div *ngFor="let task of tasks" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <p class="card-text">{{ "Task #" + task.id }}</p>
        <p class="card-text">{{ "Created by User#" + task.userId }}</p>
        <p
          class="card-text"
          [ngClass]="{
            'card-text__green': task.completed,
            'card-text__red': !task.completed
          }"
        >
          {{ task.completed ? "Completed" : "Uncompleted" }}
        </p>
      </div>
      <div class="card-body">
        <button (click)="TugleTask(task.id)" class="btn btn-primary">
          {{ task.completed ? "Uncomplet task" : "Complet task" }}
        </button>
      </div>
    </div>
  </div>
</div>
