<div class="people people__container container">
  <h1 class="people__title display-4">People info</h1>
  <table class="people__table table table-secondary table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Salary</th>
        <th>Salary + 5</th>
        <th>City</th>
        <th>Birth Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one of people">
        <td>
          {{ one.id }}
        </td>
        <td>
          {{ one.firstName }}
        </td>
        <td>
          {{ one.lastName }}
        </td>
        <td>
          {{ one.age }}
        </td>
        <td>
          {{ one.occupation }}
        </td>
        <td>
          {{ one.salary | currency : "RUB" : "symbol-narrow" : "0.0-0" }}
        </td>
        <td>
          {{
            one.salary | addFive | currency : "RUB" : "symbol-narrow" : "0.0-0"
          }}
        </td>
        <td>
          {{ one.city }}
        </td>
        <td>
          {{ one.birthDate | date : "dd/MM/yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
